# Give Maven plenty of memory
export MAVEN_OPTS='-Xms512m -Xmx1024m'

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$fg[yellow]"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

export EDITOR="subl"
export PAGER="less -R"

# Python
export PIP_REQUIRE_VIRTUALENV=true
# I make my own promts
export VIRTUAL_ENV_DISABLE_PROMPT=1

# Go
export GOROOT=/usr/local/opt/go/libexec

# Java
{{ if eq .chezmoi.os "darwin" }}
export JAVA_HOME="$(/usr/libexec/java_home)"
{{ else }}
export JAVA_HOME=$(dirname $(dirname $(update-alternatives --query java | grep Best | cut -d " " -f 2)))
{{ end }}

# Conscript
export CONSCRIPT_HOME="$HOME/.conscript"
export CONSCRIPT_OPTS="-XX:MaxPermSize=512M -Dfile.encoding=UTF-8"
PATH=$CONSCRIPT_HOME/bin:$PATH

# Sublime COMPLETION_WAITING_DOTS
{{ if eq .chezmoi.os "darwin" }}
PATH="/Applications/Sublime Text.app/Contents/SharedSupport/bin:$PATH"
{{ end }}

# More PATH stuff
PATH="$GOROOT/bin:$HOME/bin:$HOME/.cargo/bin:$HOME/.local/bin:/usr/local/bin:/usr/local/sbin:$PATH"
PATH="`yarn global bin`:$PATH"

export PATH
