export DOTFILES_HELPERS=$HOME/.dotfiles
export HOMEBREW_PREFIX=$(brew --prefix)

# Give Maven plenty of memory
export MAVEN_OPTS='-Xms512m -Xmx1024m'

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$fg[yellow]"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

{{ if eq .chezmoi.os "darwin" }}
export EDITOR="subl"
{{ else }}
export EDITOR="codium"
{{ end }}

export PAGER="less -R"

# Python
export PIP_REQUIRE_VIRTUALENV=true
# I make my own promts
export VIRTUAL_ENV_DISABLE_PROMPT=1

# Go
export GOPATH=~/go
export GOBIN=$GOPATH/bin
export PATH="$GOBIN:$PATH"

# Java
{{ if eq .chezmoi.os "darwin" }}
export JAVA_HOME="$(/usr/libexec/java_home)"
{{ else }}
export JAVA_HOME=$(dirname $(dirname $(update-alternatives --query java | grep Best | cut -d " " -f 2)))
{{ end }}

# Sublime
{{ if eq .chezmoi.os "darwin" }}
PATH="/Applications/Sublime Text.app/Contents/SharedSupport/bin:$PATH"
{{ end }}

# More PATH stuff
PATH="$HOME/bin:$HOME/.cargo/bin:$HOMEBREW_PREFIX/sbin:$PATH"

PATH="`yarn global bin`:$PATH"
export PATH

# pyenv
eval "$(pyenv init -)" 
eval "$(pyenv virtualenv-init -)"

export DOCKER_BUILDKIT=1
export COMPOSE_DOCKER_CLI_BUILD=1
