{:devices {:white-corsair [{:vendor_id 6940 :product_id 7019}]}
 :templates {:app "osascript -e 'tell application \"%s\" to activate'"}
 :simlayers {:w-mode {:key :w}}
 :main [{:des "launchers"
         :rules [:w-mode
                 [:c [:app "Chrome"]]
                 [:i [:app "iTerm"]]
                 [:p [:app "PyCharm"]]
                 [:t [:app "Todoist"]]]}
        {:des "capslock to control as modifier to escape when pressed alone"
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des "White Corsair, swap left command and option keysß"
         :rules [:white-corsair
                  [:left_command :left_option]
                  [:left_option :left_command]
                  [:!Sleft_option :!Sleft_command]
                  [:!Sleft_command :!Sleft_option]
                  [:!Tleft_option :!Tleft_command]
                  [:!Tleft_command :!Tleft_option]]}]}
